# Just some reference #
############################
# #1D0C20 purple #
# #641F70 pink #
# #2638DC blue #
# #3C5BEE light blue #
# #73CEFF cyan #
# #F3C923 yellow #
# #CCCCCC gray #
module02-project-desktop.png
module02-project-mobile.png