body{
    background-color: #CCCCCC;
    padding-inline: 20%;
}

.countainer{
    color: #FFF;
    background: linear-gradient(#1D0C20, #641F70);
    padding: 0.5rem;
}

.vote-box{
    background: linear-gradient(#641F70, #1D0C20);
    padding: 0.5rem;
}

.row{
    display: flex;
}

.col{
    background: linear-gradient(#3C5BEE, #73CEFF);
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}
