body{
    background-color: #CCCCCC;
}

.countainer{
    color: #FFF;
    background: linear-gradient(#1D0C20, #641F70);
    margin: auto;
    width: 700px;
    padding-inline: 1.5rem;
    padding-top: 0.001rem;
    padding-bottom: 0.001rem;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-radius: 10px;
}

.countainer h1{
    color: #F3C923;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.vote-box{
    background: linear-gradient(#641F70, #1D0C20);
    padding-inline: 0.5rem;
    padding-top: 0.25rem;
    border-radius: 10px;
}

.row{
    justify-content: center;
    display: flex;
}

.col{
    background: linear-gradient(#3C5BEE, #73CEFF);
    width: 23%;
    padding: 0.5rem;
    margin: 1rem;
    font-weight: 500;
    font-size: 25px;
    border-style: solid;
    border-color: #2638DC;
    border-width: 10px;
    border-radius: 10px;
}

image{
    text-align: center;
}

input{
    width: 75%;
    margin-bottom: 2rem;
    border: 0;
    border-radius: 5px;
    padding: 0.50rem;
    font-size: 16px;
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px #1D0C20;
}

button{
    color: #FFF;
    background-color: #1D0C20;
    width: 65%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: #641F70;
}
